<%- include('ek/header', {bot, user, path}) %>

  <section class="section is-medium is-primary has-text-centered is-long">

		<div align="center">
      <h1 style="color: red">ERROR</h1>
      <h3 style="color:#fff">You can vote for each bot every 6 hours!</h3>
    </div></section>
</div></div></div></div>
<br><br><br><br>
<%- include ./ek/footer.ejs %>