<%- include('ek/header', {bot, user, path}) %>
  <section class="section is-medium is-primary has-text-centered is-long">

		<div align="center">

      <h1 style="color: red">ERROR</h1>

      <h3 style="color:#fff">You are not authorized so you cannot access the authority panel!</h3>

</div>
</div></div></div>
</section>
<br><br><br><br>
<% include ./ek/footer %>