<%- include('ek/header', {bot, user, path}) %>
<script type="text/javascript">
var title = "Astarius - Bot Rules";
document.title = title;
document.getElementById("sertifika").classList.add('active');
</script>
<br><br><center>
<strong><italic><h1 style="color: red">Bot Rules</h1></strong></italic>
<br><h4 style="color: white">1- Your bot should not be just nsfw.
<br><br>:
1 • There must be at least 10 commands on your bot.
2 • Your bot should have at most 3 bad commands.
3 • There should be no colorful and fast moving emojis.
4 • There should be no prohibited codes.
5 • All commands must be set.

Prohibited Commands
1 • Disco Role
2 • Our Family, Top10, Top5
3 • Role Give All/ Take All
4 • ban / kick everyone
**NOTE**  • It is strictly forbidden not to read the rules!

<strong><italic><h1 style="color: red">Bot </h1></strong></italic>
1 • Botunuzda en az 10 komut bulunmalıdır.
2 • Botunuzda en fazla 3 hatalı komut bulunmalıdır.
3 • Renkli ve hızlı haraket eden emojiler bulunmamalıdır.
4 • Yasaklı kodlar bulunmamalıdır.
6 • Tüm komutlar ayarlamalı olmalıdır.

Yasaklı Komutlar
1 • Disko Rol
2 • Ailemiz,Top10,Top5
3 • Herkese-Rol-Ver/Al
4 • Herkesi Banla/Kickle
**NOT** • Kuralları okumamak kesinlikle yasaktır!
  
 <br><br></center> </div></div></div>
<% include ./ek/footer %>